#################
#Temporary files#
#################
*.swp
*.pyc
.env/*

###############
#Jupyter files#
###############
.ipynb_checkpoints/*

###############
#VScode  files#
###############
.DS_Store/*
.vscode